/*-External CSS file to override some bootstrap generic settings*/

body {
    text-align: justify;
    background-color: thistle;
}

/* Change settings for headers */
h1, h2, h3 {
    color: indigo;
}

/* Change settings for wide grid */
.col-bg {
    background-color: white;
    background-size: auto;
    border: 2px solid gray;  
    margin-left: 1%;
    margin-right: 1%;
}

/* Adds image to the jumbotron */
.jumbotron {
    background: url(unsplash.jpg) fixed center no-repeat;
    background-size: cover;
}

/* Changes settings for the card*/
.card {
    font-size: 80%;
    text-align: left;
    border: 2px solid gray;
}

/* Changes margins for the container */
.container {
    margin-right: 2%;
    margin-bottom: 2%;
}




